{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* height: 1100px; */
    border: 1px solid burlywood;
}

.design {
    border-radius: 20px 20px 20px 20px;
}

#logo {
    /* border: 2px solid black; */
    padding: 10px 5px;
    margin-top: 250px;
}

.imaging {
    margin-bottom: 50px;
    width: 100%;
}

#rem {
    margin-left: 0px;
}

#fp {
    margin-left: 80px;
}

#rs {
    margin-left: 60px;
}

.or {
    background-color: rgb(154, 154, 165);
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 72%;
    left: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.or p {
    text-align: center;
}

hr {
    margin-top: 20px;
}

.decorate {
    border-radius: 20px 20px 20px 20px;
}

.decoration {
    width: 100%;
}

#rg {
    margin-left: 30px;
}

.dec {
    font-size: 10px;
    margin-left: 50px;
}

#design1 {
    background-color: black;
}