{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    /* height: 1100px; */
    border: 1px solid burlywood;
}

.design {
    border-radius: 20px 20px 20px 20px;
}

#logo {
    /* border: 2px solid black; */
    padding: 10px 5px;
    margin-top: 250px;
    text-align: center;
}

.imaging {
    margin-bottom: 50px;
    width: 100%;
}

.decoration {
    width: 100%;
}

#rg {
    font-size: 15px;
}

.dec {
    font-size: 10px;
}

#design1 {
    background-color: black;
}

#decoration1 {
    width: 295px;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -o-border-radius: 20px 20px 20px 20px;
}